<div class="rookie-profile d-flex align-items-center">
  <div class="align-rookie-profile d-flex">
    <div class="icon-rookie d-flex align-items-center justify-content-center">
      <mat-icon aria-hidden="false" aria-label="Rookie Profile" fontIcon="sports_score"></mat-icon>
    </div>
    <div class="text-rookie d-flex align-items-center">
      <p class="mb-0">Rookie Profile</p>
    </div>
    <div class="progress-rookie">
      <mat-progress-spinner
        class="spinner-rookie-profile"
        mode="determinate"
        value="73">
      </mat-progress-spinner>
      <p>73%</p>
    </div>
  </div>
</div>
