$background: #28272E;
$background-opacity: #28272E99;
$background-content:#22222273;

$secondary: #707376;
$white: #FFFFFF;
$orange: #C36118;
$orange-light: #ED8322;
$green: #43DE97;
$gray: #6A6464;
$gray-light: #7C828A;
$gray-extra-light: #B7B7B7;
$blue-light: #1E95A5;

$color-line: #1F1E25;
$border-gray: #BAB8B8;
$border-blue: #8BEBF8;
$primary-font: #d8d8d8;
$secondary-font: #F8F8F0;
