<mat-card class="default-card risk d-flex align-items-center">
  <mat-card-content>
    <div class="title">
      <h2 class="title-card-dashboard text-center">Risco de fornecedores</h2>
    </div>

    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [colors]="chartOptions.colors"
        [grid]="chartOptions.grid"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
        [stroke]="chartOptions.stroke"
      ></apx-chart>
    </div>
  </mat-card-content>
</mat-card>
