<mat-card class="default-card hub-score d-flex align-items-center">
  <mat-card-content>
    <div class="title">
      <h2 class="title-card-dashboard">HUB SCORE</h2>
    </div>

    <p class="text-content-card px-2">789 Empresas</p>
    <hr>
    <p class="text-content-card px-2">Empresa XPTO acaba de entrar na comunidade</p>
    <hr>
    <p class="text-content-card px-2">Empresa XPTO está em conformidade com…</p>
    <hr>
    <p class="text-content-card px-2">Empresa XPTO compartilhou ISO…</p>
    <hr>
    <p class="text-content-card px-2">Empresa XPTO está com Score de Risco de 345</p>
  </mat-card-content>
</mat-card>
