@import '../../../../../assets/style/variables.scss';

.score {
  width: 367px;
  height: 328px;
  .progress-score {
    position: relative;
    margin-right: 30px;
    p {
      position: absolute;
      top: 34px;
      left: 30px;
      font-size: 22px;
      color: $primary-font;
    }
  }
}
.filter-dashboard {
  width: 367px;
  height: 266px;
  background: #6F6F6FB9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 45px;
  .mesage-dashboard {
    p {
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .button {
      background: #43DE97;
      border-radius: 4px;
      font-size: 18px;
      color:#393939;
      font-weight: bold;
      width: 188px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
